<div class="container">
  <h1 class="display-4"><%=@recipe.name%></h1>
</div>
<hr>
<div class="container">
  <p class="lead">
    <%=@recipe.description%>
  </p>
</div>
<hr>
<div class="container">
  <h3>Ingredients:</h3>
  <ul>
    <%@recipe.ingredients.each do |ingredient|%>
        <li>
          <div class="row">
            <a class="col-4" href="/ingredients/<%=ingredient.slug%>"><%=ingredient.name%></a>
            <%if BakerPercentage.find_by(ingredient_id: ingredient.id, recipe_id: @recipe.id)%>
            <div class="col-4">
              <%=BakerPercentage.find_by(ingredient_id: ingredient.id, recipe_id: @recipe.id).percentage%>%
            </div>
            <%else%>
              <div class="col-4">
                No Percentage Given
            </div>
          </div>
        </li>
        <br>
        <%end%>
    <%end%>
  </ul>
</div>
<hr>
<div class="container">
  <form method="POST" action="/recipes/<%=@recipe.slug%>/delete">
    <a class="btn btn-primary btn-sml" role="button" href="/recipes/<%=@recipe.slug%>/edit">Edit Recipe</a>
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input id="Delete" class="btn btn-primary btn-sml" type="submit" value="Delete Ingredient">
  </form>
</div>
