<div class="container">
  <h1 class="display-4"><%=@recipe.name%></h1>
</div>
<hr>
<div class="container lead">
  <%=@recipe.description%>
</div>
<div class="container lead">
  <table class="table">
    <br>
    <thead class="thead-dark">
      <th scope="col">Ingredients</th>
      <th scope="col">Baker's Percentage</th>
    </thead>
    <tbody>
      <%@recipe.ingredients.each do |ingredient|%>
        <tr>
        <td><a class="col-4" href="/ingredients/<%=ingredient.slug%>"><%=ingredient.name%></a></td>
        <%if ingredient.baker_percentages.find{|bp| bp.recipe_id == @recipe.id}%>
          <td><%=ingredient.baker_percentages.find{|bp| bp.recipe_id == @recipe.id}.percentage%></td>
        <%else%>
          <td>No Percentage Given</td>
        <%end%>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
<hr>
<div class="container d-flex justify-content-end">
  <form method="POST" action="/recipes/<%=@recipe.slug%>/delete">
    <a class="btn btn-primary" role="button" href="/recipes/<%=@recipe.slug%>/edit">Edit Recipe</a>
    <a class="btn btn-primary" role="button" href="/recipes/<%=@recipe.slug%>/percentages/edit">Edit Percentages</a>
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input id="Delete" class="btn btn-primary" type="submit" value="Delete Recipe">
  </form>
</div>
