<div class="container">
  <h1 class="display-4"><%=@user.username%> </h1>
</div>
<%if @success%>
  <div class="alert alert-success alert-dismissable" role="alert">
    <%=@success%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </div>
<%end%>
<div class="container lead">
  <br>
  <table class="table">
    <thead class="thead-dark">
      <th scope="col">Recipes:</th>
    </thead>
    <tbody>
      <%if @user.recipes.count > 0%>
        <%@user.recipes.each do |recipe|%>
          <td><a href="/recipes/<%=recipe.slug%>"><%=recipe.name%></a> </td>
        <%end%>
      <%else%>
        <td>No recipes</td>
      <%end%>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <a href="/recipes/new" role="button" class="btn btn-primary m-1">Add a New Recipe</a>
  </div>
</div>
<div class="container lead">
  <br>
  <table class="table">
    <thead class="thead-dark">
      <th scope="col">Ingredients:</th>
    </thead>
    <tbody>
    <%@user.ingredients.each do |ingredient|%>
      <tr><td><a href="/ingredients/<%=ingredient.slug%>"><%=ingredient.name%></a></td></tr>
    <%end%>
    </tbody>
  <table>
  <div class="d-flex justify-content-end">
    <a href="/ingredients/new" role="button" class="btn btn-primary m-1">Add a New Ingredient</a>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Bakes:</th>
        <th></th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th scope="col">Recipe</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <%if @user.bakes.count > 0%>
        <%@user.bakes.each do |bake|%>
          <tr>
            <td><a href="/recipes/<%=bake.recipe.slug%>"><%=bake.recipe.name%></a></td>
            <td><a href="/bakes/<%=bake.id%>"><%=bake.date%></a></td>
          </tr>
        <%end%>
      <%else%>
        <td>No bakes</td>
      <%end%>
    </tbody>
  </table>
  <div class="container d-flex justify-content-end">
    <a class="btn btn-primary" role="button" href="/bakes/new">Add a New Bake</a>
  </div>
  <hr>
  <div class="form-group m-3 d-flex justify-content-end">
    <form method="GET" action="/users/<%=@user.id%>/edit">
      <button id="edit" class="btn btn-primary" type="submit">Edit User Info</button>
    </form>
  </div>
</div>
