<div class="container">
  <h1 class="display-4"><%=@user.username%> </h1>
</div>
<%if @success%>
  <div class="container">
    <h3 class="lead"><%=@success%></h3>
  </div>
<%end%>
<hr>
<div class="container">
  <h4 class="lead">Your Recipes:</h4>
  <ol>
    <%@user.recipes.each do |recipe|%>
      <li><a href="/recipes/<%=recipe.slug%>" class="lead"><%=recipe.name%></a> </li>
    <%end%>
  </ol>
  <a href="/recipes/new" role="button" class="btn btn-primary m-1">Add a New Recipe</a>
</div>
<hr>
<div class="container">
  <h4 class="lead">Your Ingredients:</h4>
  <ol>
    <%@user.ingredients.each do |ingredient|%>
      <li><a class="lead" href="/ingredients/<%=ingredient.slug%>"><%=ingredient.name%></a></li>
    <%end%>
  </ol>
  <a href="/ingredients/new" role="button" class="btn btn-primary m-1">Add a New Ingredient</a>
</div>

<hr>
<div class="container">
  <div class="btn-group">
    <form method="GET" action="/users/<%=@user.id%>/edit">
      <button id="edit" class="btn btn-primary m-1" type="submit">Edit User Info</button>
    </form>
    <form method="POST" action="/users/logout">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <button id="Log Out" class="btn btn-primary m-1" type="submit">Log Out</button>
    </form>
  </div>
</div>
