<div class="container">
  <h1 class="display-4"><%=@ingredient.name%></h1>
</div>
<hr>
<div class="container">
  <p class="lead">
    <%=@ingredient.description.capitalize rescue ""%>
  </p>
</div>
<%if @recipes.count > 0%>
  <div class="container">
    <ul>
    <h3> Associated Recipes:</h3>
      <%@recipes.each do |recipe|%>
        <li><a href="/recipes/<%=recipe.slug%>"><%=recipe.name%></a></li>
      <%end%>
    </ul>
    <hr>
  </div>
<%end%>
<div class="container">
  <form method="POST" action="/ingredients/<%=@ingredient.slug%>/delete">
      <a class="btn btn-primary" role="button" href="/ingredients/<%=@ingredient.slug%>/edit">Edit Ingredient</a>
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input id="Delete" class="btn btn-primary" type="submit" value="Delete Ingredient">
  </form>
</div>


