<div class="container">
  <h1 class="display-4"><%=@ingredient.name%></h1>
</div>
<hr>
<div class="container lead">
  <%=@ingredient.description rescue ""%>
</div>
<br>
<%if @recipes.count > 0%>
  <div class="container">
    <table class="table lead">
      <thead class="thead-dark"> 
        <th scope="col">Associated Recipes</th>
        <th scope="col">Description</th>
      </thead>
      <tbody>
      <%@recipes.each do |recipe|%>
        <tr>
        <td><a href="/recipes/<%=recipe.slug%>"><%=recipe.name%></a></td>
        <td><%=recipe.description%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
    <hr>
  </div>
<%end%>
<div class="container">
  <div class="d-flex justify-content-end">
    <form method="POST" action="/ingredients/<%=@ingredient.slug%>/delete">
      <a class="btn btn-primary" role="button" href="/ingredients/<%=@ingredient.slug%>/edit">Edit Ingredient</a>
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input id="Delete" class="btn btn-primary" type="submit" value="Delete Ingredient">
    </form>
  </div>
</div>


