<div class="container">
  <h1 class="display-4">
    Baking a <%=@recipe.name%>
    <br>
    <%=@bake.date%>
  </h1 class="display-4">
</div>
<hr>
<div class="container">
  <h3 class="lead">Recipe:</h3>
  <ul class="lead">
    <%@recipe.ingredients.each do |ingredient|%>
      <li><%=ingredient.name%></li>
    <%end%>
  </ul>
</div>
<%if @bake.steps.count > 0%>
  <hr>
  <div class="container">
    <%@bake.steps.each do |step|%>
      <div class="row">
        <div class="col-4">
          <p class="lead"><%=step.action%></p>
        </div>
        <div class="col-4">
          <p class="lead"><%=step.time%></p>
        </div>
      </div>
    <%end%>
  </div>
  <hr>
<%end%>
<div class="container">
  <a class="btn btn-primary" role="button" href="/bakes/<%=@bake.id%>/steps/new">Add a Step</a>
</div>
