<div class="container">
  <h1 class="display-4">
    Baking a <%=@bake.weight%>g <%=@recipe.name%> on <%=@bake.date%>
  </h1 class="display-4">
</div>
<hr>
<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Recipe:</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th scope="col">Ingredient</th>
        <th scope="col">Weight (g)</th>
      </tr>
    </thead>
    <tbody>
      <%@recipe.baker_percentages.each do |bp|%>
        <tr>
        <td><%=bp.ingredient.name%></td>
        <td><%=bp.percentify(@bake.weight)%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
<%if @bake.steps.count > 0%>
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <th>Steps:</th>
        <th></th>
      </thead>
      <thead>
        <th>Action</th>
        <th>Time</th>
      </thead>
      <tbody>
      <%@bake.steps.each do |step|%>
        <tr>
          <td><a href="/bakes/<%=@bake.id%>/steps/<%=step.id%>"><%=step.action%></a></td>
          <td><%=step.time%></td>
        </tr>
      <%end%>
      </tbody>
    </table>
  </div>
  <hr>
<%end%>
<div class="container">
  <div class="d-flex justify-content-end">
    <a class="btn btn-primary m-1" role="button" href="/bakes/<%=@bake.id%>/steps/new">Add a Step</a>
    <a class="btn btn-primary m-1" role="button" href="/bakes/<%=@bake.id%>/edit">Edit</a>
    <form method="POST" class="form form-inline" action="/bakes/<%=@bake.id%>/delete">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-primary m-1">Delete</button>
    </form>
  </div>
</div>
