<div class="container">
  <h1 class="display-4"><%=@step.action%></h1>
</div>
<hr>
<div class="container">
  <%if !@step.note.empty?%>
    <p class="lead"><%=@step.note%> (<%=@step.time%>)</p>
  <%else%>
    <p class="lead"><%=@step.time%></p>
  <%end%>
</div>
<div class="container d-flex justify-content-end">
  <form method="POST" action="/bakes/<%=@bake.id%>/steps/<%=@step.id%>">
    <a class="btn btn-primary" role="button" href="/bakes/<%=@bake.id%>">Return to Bake Sheet</a>
    <a class="btn btn-primary" role="button" href="/bakes/<%=@bake.id%>/steps/<%=@step.id%>/edit">Edit Step</a>
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input id="Delete" class="btn btn-primary" type="submit" value="Delete Step">
  </form>
</div>